@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap&family=Source+Code+Pro&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


header{
    width: 65%;
    margin: auto;
    padding: 3vh;
    text-align: center;
    color: white;
    letter-spacing: .05em;
    text-shadow: 0.1em 0.1em 0.1em rgb(0 0 0 / 50%);
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 50%);
    background-color: rgb(255 255 255 / 50%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0 0 .3em .3em;
}

#generator{
    padding: 20vh 0 2vh 0;   
}

section:nth-child(2){
    padding: 2vh 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Elements of form */
form{
    width: 35%;
    padding: 1vh 1vw;
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 50%);
    background-color: rgb(255 255 255 / 25%);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 0 0 .3em .3em;
}

fieldset{
    border: none;
}

#colors{
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
}

input[type="color"]{
    width: 100%;
    height: 5vh;
    margin: 1vh 0;
}

#buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button,
button:visited{
    border: none;
    font-weight: bold;
    background-color: white;
    box-shadow: 0.1em 0.1em 0.3em rgb(0 0 0 / 50%);
    border-radius: .1em;
    transition: all 200ms;
}

button:hover,
button:active{
    color: white;
    background-color: #333;
}

#buttons button:nth-child(1),
#buttons button:nth-child(2){
    padding: 0.5em 0.8em;
}

#buttons button:nth-child(3),
#display-code button{
    padding: 0.5em;
    text-transform: uppercase;
}

#display-code{
    margin-top: 3vh;
}

#display-code button{
    width: 100%;
}

/* User's information message*/

#infoUser, #preview div{
    margin-top: 2vh;
    background-color: rgb(255 255 255 / 50%);
    padding: 0.5em;
    border-radius: .3em;
    text-align: center;
}

#infoUser{
    color: rgb(221, 6, 60);
}

/* Display code of generated gradient*/

code{
    display: inline-block;
    margin-top: 1em;
    background-color: #333;
    color: white;
    font: smaller 'Source Code Pro';
    padding: 1em;
    letter-spacing: .02em;
}

.none{
    display: none;
}
